<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{'dialog_example' | translate}}</h2>
                <button ng-click="show_dialog()" class="btn btn-default" ng-href role="button">{{'show_dialog' | translate}} &raquo;</button></p>
            </div>
            <div class="col-md-4">
                <h2>{{'tree_example' | translate}}</h2>
                <treecontrol class="tree-classic"
                             tree-model="dataForTheTree"
                             options="treeOptions"
                             on-selection="showSelected(node)"
                             selected-node="selected">
                    employee: {{node.name}} age {{node.age}}
                </treecontrol>
                {{selected}}
            </div>
        </div>
        <div>
            <img class="rwdimgmap" height="300" src="images/sample_img.png" usemap="#sample_img" alt="" border="10">
            <map name="sample_img">
                <area shape="rect"   coords="50,20,354,100" ng-click="select(1)" title="rect"/>
                <area shape="circle" coords="100,160,40"    ng-click="select(2)" title="circle"/>
                <area shape="poly"   coords="260,100,160,280,360,280" ng-click="select(0)" title="poly"/>
            </map>
        </div>
    </div>
</div>