<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{'dialog_example' | translate}}</h2>
                <button ng-click="show_dialog()" class="btn btn-default" ng-href role="button">{{'show_dialog' | translate}} &raquo;</button></p>
            </div>
            <div class="col-md-4">
                <h2>{{'tree_example' | translate}}</h2>
                <treecontrol class="tree-classic"
                             tree-model="dataForTheTree"
                             options="treeOptions"
                             on-selection="showSelected(node)"
                             selected-node="node1">
                    employee: {{node.name}} age {{node.age}}
                </treecontrol>
                {{node1}}
            </div>
        </div>
        <div>
            <img class="rwdimgmap" height="300" src="images/sample_img.png" usemap="#sample_img" alt="">
            <map name="sample_img">
                <area shape="circle" coords="50,50,100,100" ng-click="click('1')"/>
                <area shape="rect" coords="0,0,200,200" ng-click="click('2')"/>
            </map>
        </div>
    </div>
</div>